  <section class="sobre">
    <div class="sobre-imagem">
      <img src="/hero/hero1.jpeg" alt="Dr. Constanza">
    </div>
    <div class="sobre-conteudo">
      <h2>About</h2>
      <p>
        Officiis eligendi itaque labore et dolorem mollitia officiis optio vero. 
        Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt 
        officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis 
        quidem quia. Sed et consectetur qui quia repellendus itaque neque.
      </p>
    </div>
  </section>
  